Redirect /2012/01/fighting-with-jsf-request-charset-with.html /blog/2012/01/18/fighting-with-jsf-request-charset-jboss-tomcat.html
Redirect /2012/01/fighting-with-jsf-request-charset /blog/2012/01/18/fighting-with-jsf-request-charset-jboss-tomcat.html
Redirect /2010/01/jsf-20-lacking-support-for-collections.html /blog/2010/01/04/jsf-lacking-support-for-collections.html
Redirect /2011/12/cdi-instance-injections-and.html /blog/2011/12/16/cdi-instance-injections-and-session-application-scoped-beans.html
Redirect /2010/01/composite-primary-key-with-manytoone.html /blog/2010/01/12/composite-primary-key-with-manytoone.html