.floating-page {
    border: 1px solid #C2BFBD;
    box-shadow: 0px 2px 5px #666;
    border-radius: 5px;
}

.text-center {
    text-align:center;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-content {
    margin: 5px;
    padding:10px;
    margin-left:15px;
}

.blog-page {
    margin-bottom:30px;
    padding-left:15px;
}